.card {
    display: flex;
    align-items: flex-end;
    min-height: 8rem;
    border: 0;
    flex-grow: 1;
    position: relative;
    background-repeat:no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center;
    overflow: hidden;
    border-radius: 4px;
    transition: all .400s ease;
    transform: perspective(500px) translateZ(1px);
    z-index: 1;


    &:focus {
        outline: none,
    }

    &:hover {
        z-index: 9;
        transform: perspective(500px) translateZ(20px)
        }
        .card__title {
            color: white;
        }

        .card__bookmark--button {
            position: absolute;
            top: 0;
            right: 0;
            background-color: transparent;
            border: none;
            padding: 0;
            margin: 0;

            .card__feather--bookmark {
                cursor: pointer;

                &:hover {
                    fill: red;
                }
            }
        }
   
}
