.pagination {
    width: max-content;
    margin: 0 auto;

    .pagination__list {
        width: 100%;
        display: flex;
        margin: 0 auto;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }
}

ul.pagination__list li.pagination__list__page--item button.pagination__list__page--link {
    cursor: pointer;
}

ul.pagination__list li.pagination__list__page--item.active button.pagination__list__page--link {
    color: #445565;
    background-color: #e3e7eb;
    border-color: #ced4da;
    cursor: auto;
}

ul.pagination__list button.pagination__list__page--link {
    padding: 0.75rem 1rem;
    min-width: 3.5rem;
    text-align: center;
    box-shadow: none;
    border-color: #ced4da;
    color: #6b88a4;
    font-weight: 900;
    font-size: 1rem;
}

ul.pagination__list button.page-link:hover {
    background-color: #f4f4f4;
}

.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}