* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;

    &:focus {
        outline: none;
    }
}

body {
    height:100vh;
    display:flex;
    flex-direction:column;
    line-height: 1;
    overflow-x: hidden;
    font-family: $primary-font-family;
    background: #DC2424;
    background: -webkit-linear-gradient(to left, #bc4040, #5c6dd6);
    background: linear-gradient(to left, #bc4040, #5c6dd6);
}

img,
video {
    max-width: 100%;
    height: auto;
}

a {
    color: $primary;
    text-decoration: none;
}