@import "styles/globals/variables";
@import "styles/mixins/breakpoints";

.cards {
    min-height: 95%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax($grid-min-size, 1fr));
    grid-template-rows: max-content;
    gap: 0.95rem;
    margin: 0.75rem;

    @include media('md') {
        height: 90%;
    }

    @include media('lg') {
        height: 85%;
    }
}