@import 'styles/mixins/breakpoints.scss';

.search {
    margin: 1.5rem auto;
    width: 35%;
    height: 1.5rem;

    .search__input {
        border: 0px;
        width: 100%;
        height: 100%;
        font-size: 0.5rem;
        background: #1c345b;
        color: white;
        border: blue;
        letter-spacing: 0.1rem;
        padding: 0.4rem 0.6rem;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        -webkit-box-shadow: 4px 4px 4px black;
        -moz-box-shadow: 4px 4px 4px black;
        box-shadow: 4px 4px 4px black;
        text-shadow: -1px -1px 2px black;

        @include media('md') {
            font-size: 1rem;
        }

        @include media('lg') {
            font-size: 1rem;
        }
        
    }
    @include media('md') {
        height: 2rem;
    }

    @include media('lg') {
        height: 3rem;
    }

    
}